.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 139.02%;
  margin: 0;
}
.footer .icon {
  width: 32px;
  height: 32px;
}

#follow {
  padding-bottom: 23px;
}
